//Fonts
$main-font: 'Playfair Display', serif; //font-weight: 400, 600, 700
$secondary-font: 'Roboto', sans-serif; //font-weight: 400, 500
$link-font: 'Redressed', serif; //font-weight: 400
// Font weight
$regular: 400; //utilizado
$medium: 500; 
$semi-bold: 600; 
$bold: 700; //utilizado

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$macbook_air:1440px;
$macbook_pro_13:2560px;

//padding
$gap-1: 1rem;
$gap-2: 2rem;
$gap-3: 3rem;
$gap-4: 4rem;
$gap-5: 5rem;
$padding_div:4rem;
$padding_elemt:2rem;
$margin_elemt:2rem;
